*{

box-sizing:border-box;

}


body{

margin:0;

background:#05080c;

color:#d7e3ea;

font-family:
"Courier New",
monospace;

overflow:hidden;

}



header{

height:90px;

border-bottom:
1px solid #1b3645;

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#08111a;

}



h1{

margin:0;

font-size:24px;

letter-spacing:3px;

color:#9cc4ff;

}



.brand p{

color:#607d8b;

}



.status{

color:#00ff88;

font-weight:bold;

}



main{

display:flex;

height:calc(100vh - 90px);

}



#network{

flex:1;

background:

radial-gradient(
circle,
#152431,
#05080c
);

}



#panel{

width:350px;

background:#0b141d;

border-left:

1px solid #1d3445;

padding:25px;

}



#panel h2{

color:#00ff88;

font-size:16px;

}



.node-title{

font-size:22px;

color:#9cc4ff;

}



.card{

border:

1px solid #28485c;

padding:15px;

margin-top:15px;

background:#09131c;

}


line{

stroke:#356070;

stroke-opacity:.6;

}



circle{

cursor:pointer;

stroke:#000;

stroke-width:2px;

}


